<!DOCTYPE html>
<html>
    @@include('../../src/partials/_head.html', {"title": "Blvenyrbdy - My Events"})
  <body>
    <nav>
      <a href=""><img src="assets/logo.png" class="logo">
        <p>BLVENYRBDY</p></a>
      <span>R.E.M.M. Training – Passion for Fitness LLC</span>
      <ul>
        <li><a href="services">what i offer</a></li>
        <li><a href="events">my events</a></li>
        <li><a href="about">who i am</a></li>
      </ul>
    </nav>

    <nav class="mobile-nav">
        <ul>
          <li class="navicon">BLVENYRBDY<span>R.E.M.M. Training – Passion for Fitness LLC</span><i class="fa fa-bars"></i></a>
            <ul>
              <li><a href="services">what i offer</a></li>
              <li><a href="events">my events</a></li>
              <li><a href="about">who i am</a></li>
            </ul>
          </li>
        </ul>
    </nav>
    <header class="events-header">
      <div class="gradient-l"></div>
      <h1 class="animated pulse">Sign Up For Our Next Race!</h2>
      <h2 class="animated pulse">Inaugural 5k Snowshoe in the Woods</h2>
      <h3 class="animated pulse">Sunday March 8th, 2015</h3>
      <a href="https://www.runreg.com/5k-snowshoe-in-the-woods">
        <button class="branded-btn btn-white-transparent">Register <i class="fa fa-arrow-right"></i></button>
      </a>
    </header>
    <section class="promise-section animated fadeInUpBig about-events">
      <div class="promise">
        <h1>About Our Events</h1>
        <p> If you like to race for fun, competition and to support worthy causes our events will be perfect for your race schedule.</p>
      </div>
    </section>
    <section class="events-section">
      <ul>
        <li class="wow animated pulse">
          <h1>NE. &amp; NH Snowshoe Championship</h1>
          <img src="assets/GSSClogo.jpg">
          <h2>10k</h2>
          <h3>Saturday March 7, 2015</h3>
          <a href="http://www.acidoticracing.com/events/view_event.php?ID=4#.VKrm1YrF84Q" target="_blank">
            <button class="btn-primary">Visit Site <i class="fa fa-chevron-circle-right"></i></button>
          </a>
        </li>
        <li class="wow animated pulse">
          <h1>Inaugural 5k Snowshoe in the Woods</h1>
          <img src="assets/main-inn.png">
          <h2>Fast and Flat 3.1 miles</h2>
          <h3>Sunday March 8, 2015</h3>
          <a href="events/snowshoe-in-the-woods/">
            <button class="btn-primary">Learn More <i class="fa fa-chevron-circle-right"></i></button>
          </a>
        </li>
        <li class="wow animated pulse">
          <h1>St. Katharine Drexel Parish</h1>
          <img src="assets/drexel.png">
          <h2>5K &amp; 10K Road Race</h2>
          <h3>Saturday September 19, 2015</h3>
          <a href="http://www.stkdrexel.com/5k-10k-road-race" target="_blank">
            <button class="btn-primary">Visit Site <i class="fa fa-chevron-circle-right"></i></button>
          </a>
        </li>
        <li class="wow animated pulse">
          <h1>Castle in the Clouds</h1>
          <img src="assets/castle-in-the-clouds.png">
          <h2>Half Marathon and Fun Run</h2>
          <h3>Sunday November 1st, 2015</h3>
          <a href="events/castle-in-the-clouds/">
            <button class="btn-primary">Learn More <i class="fa fa-chevron-circle-right"></i></button>
          </a>
        </li>
        <li class="wow animated pulse">
          <h1>Roaring Falls Trail Race</h1>
          <img src="assets/roaring-falls.png">
          <h2>First Annual</h2>
          <h3>Saturday November 7th, 2015</h3>
          <a href="http://www.acidoticracing.com/events/view_event.php?ID=15" target="_blank">
            <button class="btn-primary">Visit Site <i class="fa fa-chevron-circle-right"></i></button>
          </a>
        </li>
      </ul>
    </section>

    <section class="promise-section wow animated lightSpeedIn our-sponsors">
      <div class="promise">
        <h1>Our Sponsors</h1>
        <p>Thank-you to our friends. We are grateful for your loyalty.</p>
      </div>
    </section>
    <section class="sponsors-section animated fadeInUpBig our-sponsors">
        <ul class="sponsors-list">
          <li><a href="https://eastern.com/"><img src="assets/sponsors/sp15.png"></a></li>
          <li><a href="http://www.sosmed.org/"><img src="assets/sponsors/sp01.png"></a></li>
          <li><a href="http://www.castleintheclouds.org/"><img src="assets/sponsors/sp02.png"></a></li>
          <li><a href="http://bigdavesbagels.com/"><img src="assets/sponsors/sp03.png"></a></li>
          <li><a href="http://www.crystalgeyserasw.com/"><img src="assets/sponsors/sp04.png"></a></li>
          <li><a href="http://granitestatept.com/"><img src="assets/sponsors/sp05.png"></a></li>
          <li><a href="http://www.calicoscreenprinting.com/"><img src="assets/sponsors/sp06.png"></a></li>
          <li><a href="http://www.nedelta.com/Home"><img src="assets/sponsors/sp07.png"></a></li>
          <li><a href="http://www.silvafamilydentistry.com/"><img src="assets/sponsors/sp08.png"></a></li>
          <li><a href="http://www.allsportsevents.com/"><img src="assets/sponsors/sp09.png"></a></li>
          <li><a href="http://www.pearlizumifactorystores.com/northconway"><img src="assets/sponsors/sp10.png"></a></li>
          <li><a href="https://www.peoples.com/portal/site/peoples/"><img src="assets/sponsors/sp12.png"></a></li>
          <li><a href="www.hannaford.com"><img src="assets/sponsors/sp13.jpeg"></a></li>
          <li><a href="http://lrct.org/"><img src="assets/sponsors/sp14.jpg"></a></li>
          <li><a href="https://plus.google.com/110230210974794087760/about?gl=us&hl=en">Tut's Trophies and Awards</a></li>
          <li><a href="http://www.moultonfarm.com/farm-stand/cider-bellies/">Moulton Farm Cider Bellies Doughnuts</a></li>
          <li><a href="http://www.dkirkupjewelrydesigns.com/index.html">Diane Kirkup Jewelry</a></li>
          <li>Dan The Man Arts</li>
          <li><a href="https://www.facebook.com/AshleyLaderArtDesign">Ashley Lader Art &amp; Design</a></li>
          <li><a href="https://plus.google.com/101659035636871061919/about?gl=us&hl=en">Dr. David McCarthy, D.C.</a></li>
          <li><a href="http://www.3craceproductions.com/">3C Race Productions</a></li>
          <li><a href="http://www.stonyfield.com/">Stonyfield Yogurt</a></li>
          <li><a href="https://plus.google.com/105773630920270549933/about?gl=us&hl=en">Weston Auto Body</a></li>
          <li><a href="http://www.polandspring.com/">Poland Springs</a></li>
          <li><a href="http://www.bartlett.com/">Bartlett Tree Experts</a></li>
          <li><a href="http://wolfeboroeye.com/">All-Earth Wolfeboro Eye Associates</a></li>
          <li><a href="https://www.facebook.com/pages/SNAPacidotic/503426696349584">SNAPacidotic</a></li>
          <li><a href="http://www.nordicskiersports.com/">Nordic Skier</a></li>
        </ul>
    </section>
    @@include('../../src/partials/_footer.html')
  </body>
</html>
