<!DOCTYPE html>
<html>
      @@include('../../src/partials/_head.html', {"title": "Blvenyrbdy - Who I Am"})

  <body>
    <nav>
      <a href=""><img src="assets/logo.png" class="logo">
        <p>BLVENYRBDY</p></a>
      <span>R.E.M.M. Training – Passion for Fitness LLC</span>
      <ul>
        <li><a href="services">what i offer</a></li>
        <li><a href="events">my events</a></li>
        <li><a href="about">who i am</a></li>
      </ul>
    </nav>
    <nav class="mobile-nav">
        <ul>
          <li class="navicon">BLVENYRBDY<span>R.E.M.M. Training – Passion for Fitness LLC</span><i class="fa fa-bars"></i></a>
            <ul>
              <li><a href="services">what i offer</a></li>
              <li><a href="events">my events</a></li>
              <li><a href="about">who i am</a></li>
            </ul>
          </li>
        </ul>
    </nav>
    <header class="about-header">
      <div class="gradient-l"></div>
      <h1 class="animated pulse">Meet Robin Allenburke</h2>
      <h2 class="animated pulse">It is my belief that physical activity - whether it be competition or enjoyment -alters lives by creating a certain sense of harmony and well-being. Through this journey, I believe that one can attain confidence, a healthier lifestyle, peace of mind and most importantly happiness. Personal trainer, Race Director/Owner, Motivator</br></br><a href="mailto:ironmom40@metrocast.net">ironmom40@metrocast.net</a></h2>
    </header>
    <section class="promise-section animated fadeInUpBig">
      <div class="promise">
        <h1>"It is health that is real wealth and not pieces of gold and silver."</h1>
        <p>-Mahatma Ghandi</p>
      </div>
    </section>
    <section class="about-section">
      <h1 class="wow pulse">About Me</h1>
      <p>I have found spiritual and physical healing through my passion for fitness. I believe practicing with your body through fitness helps to create harmony in our lives, setting footprints on the ground on our path to a fulfilling life.</p>
      <p>I had a dark past, one of which I could have easily stayed in the shadows. Instead of letting the past engulf me for the rest of my days, I found safety and strength through physical fitness.</p>
      <p>Through my journeys I discovered along the way that a positive light was always visible to me. In fact it had always been there, but it was shrouded until the point in my life I finally decided to pull back the curtains. I discovered an enriching spiritual life, great health and vibrant wellness.</p>
      <p>I understand that finding time, motivation, and commitment to oneself at the beginning of your practices can be very challenging. But that is why it's called "practice" and practicing takes patience with yourself. It will get much easier and I'd say keep with it, and be kind to yourself. You are worth the investment.</p>
    </section>
    <section class="promise-section wow lightSpeedIn">
      <div class="promise">
        <h1>"I am truly passionate about fitness and enhancing people's lives with the long term healthy outcome when we engage in keeping our body, mind, and spirit working together. Good health is happiness."</h1>
        <p>-Robin Allenburke</p>
      </div>
    </section>
    <section class="about-section">
      <h1 class="wow pulse">Education &amp; Experience</h1>
      <p>2014 will be my 13th season as an age group triathlete. I have competed in many triathlon events, locally, nationally, and internationally. I have completed 6 full Ironman's, nearly 30 Half Ironmans, and many, many triathlons in other distances, and I have been extremely successful competitively. I have placed in many of these events. My long term goal is to qualify for the Kona Ironman before I am 80 years old. I have done many running races including road, trail, and mountain in a wide range of distances, many being marathons.</p>
      <p>I have been a proud member of acidotic RACING for three years, a prominent racing community in the New England area. Along with being a Race Director for the St. Katharine road race, and competing in my aR races, I work with the founder of aR, Chris Dunn, and to direct races as an Event Organizer, an endeavor which I want to passionately pursue.</p>
      <h2 class="wow pulse">Education</h2>
      <ul>
        <li>Wareham High School. Class of 1979</li>
        <li>International Air Academy. Commercial Airline Reservations Agent / Airport Ticket Agent. Diploma for 6 month course 1980-1981</li>
        <li>UMass Lowell – Health Major. Part time student 2002-2003</li>
      </ul>
      <h2 class="wow pulse">Work Experience</h2>
      <ul>
        <li>Nashoba Valley Fitness Center. Fitness Center Instructor and Personal Trainer.  1994-1996</li>
        <li>Nashua YMCA. Swim Instructor. 2003-2004</li>
        <li>Gunstock Inn and Fitness Center. Aquatic and Fitness Director. 2006-2009</li>
      </ul>
      <h2 class="wow pulse">Qualifications &amp; Certificates</h2>
      <ul>
        <li>IFPA &amp; ACE personal trainer certification</li>
        <li>Triathlon Academy, triathlon coach certification, including long distance Ironman coaching</li>
        <li>SCW fitness education, beginner Pilates certification</li>
        <li>Spinning, certified spin instructor</li>
        <li>TRX Band, certified TRX Band instructor</li>
        <li>TRX Rip, certified TRX Rip instructor</li>
        <li>WSI, certified swim instructor</li>
        <li>Water aerobics, certified instructor</li>
        <li>Heart Saver AED and CPR certified</li>
        <li>Circuit training and Bootcamp​ training</li>
      </ul>
    </section>
    <section class="promise-section wow lightSpeedIn">
      <div class="promise">
        <h1>"Never, never, never give up."</h1>
        <p>-Winston Churchill</p>
        <p>Dig deep, reach in, find your passion, show no fear, and watch what unfolds. It's amazing. I believe in you!</p>
      </div>
    </section>
    @@include('../../src/partials/_footer.html')
  </body>
</html>
