footer {
  background-color: #fff;
  text-align: center;
  padding: 40px 0 15px;

  a {
    display: inline-block;
  }
  
  p {
    font-size: 12px;
    margin: 10px 5px;
  }

  img {
    width: 40px;
    margin: 6px;
  }
}