<!DOCTYPE html>
<html>
  @@include('../../../src/partials/_head.html', {"title": "Blvenyrbdy - Castle in the Clouds"})

  <body>
    <nav>
      <a href=""><img src="assets/logo.png" class="logo">
        <p>BLVENYRBDY</p></a>
      <span>R.E.M.M. Training – Passion for Fitness LLC</span>
      <ul>
        <li><a href="services">what i offer</a></li>
        <li><a href="events">my events</a></li>
        <li><a href="about">who i am</a></li>
      </ul>
    </nav>
    <nav class="mobile-nav">
        <ul>
          <li class="navicon">BLVENYRBDY<span>R.E.M.M. Training – Passion for Fitness LLC</span><i class="fa fa-bars"></i></a>
            <ul>
              <li><a href="services">what i offer</a></li>
              <li><a href="events">my events</a></li>
              <li><a href="about">who i am</a></li>
            </ul>
          </li>
        </ul>
    </nav>
    <header class="castle-header">
      <div class="gradient-l"></div>
      <h1 class="animated pulse">Castle in the Clouds</h2>
      <h2 class="animated pulse">Half Marathon &amp; 5k Trail Race</h2>
      <h3 class="animated pulse">Sunday November 1st, 2015</h3>
      <a href="https://www.runreg.com/cchm">
        <button class="branded-btn btn-white-transparent">Register! <i class="fa fa-arrow-right"></i></button>
      </a>
    </header>
    <section class="promise-section animated fadeInUpBig">
      <div class="promise">
        <h1>One of the most beautiful and challenging half marathon courses in New Hampshire!</h1>
        <a href="http://lrct.org/" target="_blank">
          <img class="lakes-reg" src="assets/sponsors/sp14.png">
        </a>
        <p>The post race party is one not to miss.  For one it is inside and I offer a free beer with registration and the post race food is incredible! Whoopie pies, hot-cider doughnuts, soup, and more!</p>
      </div>
    </section>
    <section class="simple-section ss-img-r usatf-cert">
      <div class="content-wrapper">
        <h1 class="wow animated pulse">USATF Certified Half Marathon Course 
          <a href="http://maps.google.com/maps?ll=43.732406,-71.328092&z=13&t=m&hl=en&gl=US&mapclient=embed&q=455%20Ossipee%20Park%20Rd%20Moultonborough%2C%20NH%2003254" target="_blank"><i class="fa fa-external-link"></i></a></h1>
        <ul>
          <li>Start at the Castle in the Cloud, and continue down the Castle Auto Road</li>
          <li>Left onto Route 171</li>
          <li>Right onto Sodom Road</li>
          <li>Right onto County Road (partial dirt road)</li>
          <li>Left to make a loop out to 109, then back to County Road</li>
          <li>Continue onto 109</li>
          <li>Right onto Severance Road</li>
          <li>Left onto Route 171</li>
          <li>Right, back onto the Castle Auto Road (all uphill!)</li>
          <li>Finish just past the Castle Carriage House near the field at the Lakes Region Conservation Trust Trail system</li>
          <li>* There will be aid stations at miles 3, 6, 8, 10, and 12, with water and electrolyte drinks *</li>
        </ul>
      </div>
    </section>

    <section class="proceeds-section">
      <h1 class="wow animated pulse">Proceeds from the Race Benefit</h1>
      <ul class="sponsors-list">
        <li class="img-with-subhead"><img src="assets/proceeds/pkd.png">
          <p>Help us reach our PKD donation goal of $2,500 before the race!</p></li>
        <li><img src="assets/proceeds/cac.png"></li>
        <li><span>Lakes Region Food Pantry</span>
          <p>The food pantry will be giving out healthy food vouchers for families in need.</p></li>
      </ul>
    </section>

    <section class="simple-section ss-img-l citc-previous">
      <div class="content-wrapper">
        <h1 class="wow animated pulse">Last Event</h1>
        <p>Thank-you to everyone who sponsored , volunteered , participated and spectated at the inaugural Castle in the Clouds Half Marathon &amp;  5k Trail Race!! on November 2, 2014. What a dynamic day for all! I cannot thank you all of you enough for spending the day with me at the Castle. I hope your experience was as fantastic as mine!</p>
        <h2>Results</h2>
        <a href="http://allsportsevents.com/Results/running_results/CastleintheCloudsHalfMatathon2014.html#/results::1415322498712" target="_blank"><button class="branded-btn btn-primary wow animated flipInY">Marathon</button></a>
        <a href="http://allsportsevents.com/Results/running_results/CastleintheCloudsHalfMatathon2014.html#/results::1415322840253" target="_blank"><button class="branded-btn btn-primary wow animated flipInY">Fun Run</button></a>
        <p class="top-finishers">Top Finishers: Jane Doe (left) and John Doe (right)</p>
      </div>
    </section>

    <section class="header-section wow animated lightSpeedIn">
      <h1>Special Thanks to Our Sponsors</h1>
    </section>

    <section class="sponsors-section animated fadeInUpBig">
      <ul class="sponsors-list">
          <li><a href="https://eastern.com/"><img src="assets/sponsors/sp15.png"></a></li>
          <li><a href="http://www.sosmed.org/"><img src="assets/sponsors/sp01.png"></a></li>
          <li><a href="http://www.castleintheclouds.org/"><img src="assets/sponsors/sp02.png"></a></li>
          <li><a href="http://bigdavesbagels.com/"><img src="assets/sponsors/sp03.png"></a></li>
          <li><a href="http://www.crystalgeyserasw.com/"><img src="assets/sponsors/sp04.png"></a></li>
          <li><a href="http://granitestatept.com/"><img src="assets/sponsors/sp05.png"></a></li>
          <li><a href="http://www.calicoscreenprinting.com/"><img src="assets/sponsors/sp06.png"></a></li>
          <li><a href="http://www.nedelta.com/Home"><img src="assets/sponsors/sp07.png"></a></li>
          <li><a href="http://www.silvafamilydentistry.com/"><img src="assets/sponsors/sp08.png"></a></li>
          <li><a href="http://www.allsportsevents.com/"><img src="assets/sponsors/sp09.png"></a></li>
          <li><a href="http://www.pearlizumifactorystores.com/northconway"><img src="assets/sponsors/sp10.png"></a></li>
          <li><a href="https://www.peoples.com/portal/site/peoples/"><img src="assets/sponsors/sp12.png"></a></li>
          <li><a href="www.hannaford.com"><img src="assets/sponsors/sp13.jpeg"></a></li>
          <li><a href="http://lrct.org/"><img src="assets/sponsors/sp14.jpg"></a></li>
          <li><a href="https://plus.google.com/110230210974794087760/about?gl=us&hl=en">Tut's Trophies and Awards</a></li>
          <li><a href="http://www.moultonfarm.com/farm-stand/cider-bellies/">Moulton Farm Cider Bellies Doughnuts</a></li>
          <li><a href="http://www.dkirkupjewelrydesigns.com/index.html">Diane Kirkup Jewelry</a></li>
          <li>Dan The Man Arts</li>
          <li><a href="https://www.facebook.com/AshleyLaderArtDesign">Ashley Lader Art &amp; Design</a></li>
          <li><a href="https://plus.google.com/101659035636871061919/about?gl=us&hl=en">Dr. David McCarthy, D.C.</a></li>
          <li><a href="http://www.3craceproductions.com/">3C Race Productions</a></li>
          <li><a href="http://www.stonyfield.com/">Stonyfield Yogurt</a></li>
          <li><a href="https://plus.google.com/105773630920270549933/about?gl=us&hl=en">Weston Auto Body</a></li>
          <li><a href="http://www.polandspring.com/">Poland Springs</a></li>
          <li><a href="http://www.bartlett.com/">Bartlett Tree Experts</a></li>
          <li><a href="http://wolfeboroeye.com/">All-Earth Wolfeboro Eye Associates</a></li>
          <li><a href="https://www.facebook.com/pages/SNAPacidotic/503426696349584">SNAPacidotic</a></li>
          <li><a href="http://www.nordicskiersports.com/">Nordic Skier</a></li>
        </ul>
    </section>
    @@include('../../../src/partials/_footer.html')
  </body>
</html>
