<footer class="footer-fix">
  <a href="https://www.facebook.com/robin.allenburke?fref=ts" target="_blank">
    <img src="assets/sm_facebook.jpg">
  </a>
  <a href="https://twitter.com/ironmom40" target="_blank">
    <img src="assets/sm_twitter.jpg">
  </a>
  <a href="http://instagram.com/robin_ab" target="_blank">
    <img src="assets/sm_instagram.png">
  </a>
  <p><i class="fa fa-copyright"></i> BLVENYRBDY - R.E.M.M. Training Passion for Fitness LLC</br>Robin Allenburke</br>ironmom40@metrocast.net</p>
</footer>

<script>
  new WOW().init();
</script>
