<!DOCTYPE html>
<html>
  @@include('../../../src/partials/_head.html', {"title": "Blvenyrbdy - Snowshoe in the Woods"})

  <body>
    <nav>
      <a href=""><img src="assets/logo.png" class="logo">
        <p>BLVENYRBDY</p></a>
      <span>R.E.M.M. Training – Passion for Fitness LLC</span>
      <ul>
        <li><a href="services">what i offer</a></li>
        <li><a href="events">my events</a></li>
        <li><a href="about">who i am</a></li>
      </ul>
    </nav>
   <nav class="mobile-nav">
        <ul>
          <li class="navicon">BLVENYRBDY<span>R.E.M.M. Training – Passion for Fitness LLC</span><i class="fa fa-bars"></i></a>
            <ul>
              <li><a href="services">what i offer</a></li>
              <li><a href="events">my events</a></li>
              <li><a href="about">who i am</a></li>
            </ul>
          </li>
        </ul>
    </nav>
    <header class="snowshoe-header">
      <img class="eastern-propane" src="assets/sponsors/sp15.png">
      <div class="gradient-l"></div>
      <h1 class="animated pulse">Inaugural 5k Snowshoe in the Woods</h2>
      <p>Presented by: R.E.M.M. Training &amp; Passion for Fitness LLC// Nordic Skier Wolfeboro XC</p>
      <h2 class="animated pulse">Fast and Flat 3.1 miles</h2>
      <h3 class="animated pulse">Sunday March 8th, 2015 12noon</h3>
      <a href="https://www.runreg.com/5k-snowshoe-in-the-woods">
        <button class="branded-btn btn-white-transparent">Register! <i class="fa fa-arrow-right"></i></button>
      </a>
    </header>
    <section class="promise-section animated fadeInUpBig">
      <div class="promise">
        <h1>Sewall Woods , Lakes Region Conservation Trust Property, Wolfeboro , New Hampshire</h1>
        <a href="http://lrct.org/" target="_blank">
          <img class="lakes-reg" src="assets/sponsors/sp14.png">
        </a>
        <p>Come join the snowshoe fun on the beautifully groomed trails at Sewall Woods!</br>This is a wonderful community event you wouldn't want to miss.</p>
        <p>Race day registration: 10a - 11:30a at The Inn On Main. 200 North Main St, Wolfeboro, NH 03894, (603- 569 -1335)</p>
      </div>
    </section>
    <section class="simple-section ss-img-r post-race-beveridge">
      <div class="content-wrapper">
        <h1 class="wow animated pulse">Post Race Goodies</h1>
        <p>Fantastic post race goodies will be provided from many of our local businesses in Wolfeboro.
          Awards and raffles post race.</p>
        <p>As a post race bonus “ Beveridge Craft Beer &amp; Soap Co. will be offering a beer tasting at their shop.</p>
        <span>51 North Main St</br>Wolfeboro, NH</br>03894</br>(603) 880-3013</span>
      </div>
    </section>
    <section class="simple-section ss-img-l inn-on-main">
      <div class="content-wrapper">
        <h1 class="wow animated pulse">The Inn on Main</h1>
        <p>The Inn on Main will be offering a special room rate for the weekend ,$99.00.</br>
          Please contact Karen Beranger directly at 603-569-1335.</p>
        <a href="http://www.innnewhampshire.com/" target="_blank"><button class="branded-btn btn-primary wow animated flipInY">Visit Site</button></a>
      </div>
    </section>

    <section class="proceeds-section">
      <h1 class="wow animated pulse">Proceeds from the Race Benefit</h1>
      <ul class="sponsors-list">
        <li><p>Kingswood Regional High School XC Ski Team</p></li>
      </ul>
    </section>

    <section class="header-section wow animated lightSpeedIn">
      <h1>Many thanks to our sponsors, and to the LRCT (Lakes Region Conservation Trust) for allowing us to have this event on their property.</h1>
      <p>For more information about donating to the Lakes Region Conservation Trust click <a href="#">HERE</a></p>
    </section>

    <section class="sponsors-section animated fadeInUpBig">
      <ul class="sponsors-list">
          <li><a href="https://eastern.com/"><img src="assets/sponsors/sp15.png"></a></li>
          <li><a href="http://www.sosmed.org/"><img src="assets/sponsors/sp01.png"></a></li>
          <li><a href="http://www.castleintheclouds.org/"><img src="assets/sponsors/sp02.png"></a></li>
          <li><a href="http://bigdavesbagels.com/"><img src="assets/sponsors/sp03.png"></a></li>
          <li><a href="http://www.crystalgeyserasw.com/"><img src="assets/sponsors/sp04.png"></a></li>
          <li><a href="http://granitestatept.com/"><img src="assets/sponsors/sp05.png"></a></li>
          <li><a href="http://www.calicoscreenprinting.com/"><img src="assets/sponsors/sp06.png"></a></li>
          <li><a href="http://www.nedelta.com/Home"><img src="assets/sponsors/sp07.png"></a></li>
          <li><a href="http://www.silvafamilydentistry.com/"><img src="assets/sponsors/sp08.png"></a></li>
          <li><a href="http://www.allsportsevents.com/"><img src="assets/sponsors/sp09.png"></a></li>
          <li><a href="http://www.pearlizumifactorystores.com/northconway"><img src="assets/sponsors/sp10.png"></a></li>
          <li><a href="https://www.peoples.com/portal/site/peoples/"><img src="assets/sponsors/sp12.png"></a></li>
          <li><a href="www.hannaford.com"><img src="assets/sponsors/sp13.jpeg"></a></li>
          <li><a href="http://lrct.org/"><img src="assets/sponsors/sp14.jpg"></a></li>
          <li><a href="https://plus.google.com/110230210974794087760/about?gl=us&hl=en">Tut's Trophies and Awards</a></li>
          <li><a href="http://www.moultonfarm.com/farm-stand/cider-bellies/">Moulton Farm Cider Bellies Doughnuts</a></li>
          <li><a href="http://www.dkirkupjewelrydesigns.com/index.html">Diane Kirkup Jewelry</a></li>
          <li>Dan The Man Arts</li>
          <li><a href="https://www.facebook.com/AshleyLaderArtDesign">Ashley Lader Art &amp; Design</a></li>
          <li><a href="https://plus.google.com/101659035636871061919/about?gl=us&hl=en">Dr. David McCarthy, D.C.</a></li>
          <li><a href="http://www.3craceproductions.com/">3C Race Productions</a></li>
          <li><a href="http://www.stonyfield.com/">Stonyfield Yogurt</a></li>
          <li><a href="https://plus.google.com/105773630920270549933/about?gl=us&hl=en">Weston Auto Body</a></li>
          <li><a href="http://www.polandspring.com/">Poland Springs</a></li>
          <li><a href="http://www.bartlett.com/">Bartlett Tree Experts</a></li>
          <li><a href="http://wolfeboroeye.com/">All-Earth Wolfeboro Eye Associates</a></li>
          <li><a href="https://www.facebook.com/pages/SNAPacidotic/503426696349584">SNAPacidotic</a></li>
          <li><a href="http://www.nordicskiersports.com/">Nordic Skier</a></li>
        </ul>
    </section>
    @@include('../../../src/partials/_footer.html')

  </body>
</html>
